<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div id="container">
      <h1 id="header">Home Affordability Calculator</h1>
      <div id="card" class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Expenses</h5>
          <p class="card-text">
            You will now see a series of questions regarding your total expenses.
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
