<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div id="container">
    <!-- Default form contact -->
<form *ngFor="let card of cards" ngForm #checkForm="ngForm" (submit)="getClicked(checkForm)" id="forms" class="text-center border border-light p-5">

  <label><p class="h4 mb-4">{{card.description}}</p></label>

  <!-- Response -->
  <label><input type="number" name="numbersInForm[card.value]" [(ngModel)]="numbersInForm[card.value]" id="defaultContactFormName" class="form-control mb-4" placeholder="i.e. $100 or 0 if no"></label>

  <!-- Send button -->
  <button class="btn btn-info btn-block" type="submit">Next</button>
</form>
    </div>
  </body>
</html>
