
#container{
  padding-top: 1.3%;
  padding-bottom: 3%;
  background-size: cover;
  min-height: 900px;
  background-color: #F1E0EA;
  min-width: 100%;
  background-image: url('../../assets/img/desrt.jpg');
}


#jumbo {
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
  background-color: rgba(192, 192, 192, 0.747);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#par{
  font-size: large;
}
#fadeButton {
  color: white !important;
  text-transform: uppercase;
  background: rgb(213,193,136);
  background: linear-gradient(47deg, rgba(213,193,136,1) 0%, rgba(213,193,136,1) 0%, rgba(99,113,85,1) 83%);
  padding: 20px;
  width:100%;
  border: 4px solid #637155 !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  margin-top:5%;
}
#fadeButton:hover {
  color: #494949 !important;
  border-radius: 50px;
  background: rgb(99,113,85);
  background: linear-gradient(47deg, rgba(99,113,85,1) 4%, rgba(213,193,136,1) 80%, rgba(213,193,136,1) 100%);
  border-color: #d5c188 !important;
  transition: all 0.3s ease 0s;
}

@import url("https://fonts.googleapis.com/css?family=Roboto|Sriracha&display=swap");
$background: #fffffb;
$accent: #FFDF9A;
$otherAccent: #637255;
$darkBackground: #5b5f97;

#back {
  width: 10%;
  height: 80px;
  display:inline-block;
  font-size: 2rem;
  color: $background;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background: rgb(2,0,36);
  background: linear-gradient(32deg, rgba(2,0,36,1) 0%, rgba(184,78,2,1) 35%, rgba(255,225,155,1) 100%);
  background-size: 300% 300%;
  outline: none;
  transition: all 200ms ease-in-out;
  &:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(2px);
    -webkit-animation: gradientBG 1.5s ease-in-out forwards;
    animation: gradientBG 1.5s ease-in-out forwards;
    cursor: pointer;
  }
  &:active {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    transform: translateY(4px);
  }
}

.login-container {
  height: 40%;
  width: 50%;
  padding: 3%;
  margin-left:25%;
  margin-top:10%;
  display: none;
  border-radius: 5px;
  background: $background;
  position: relative;
  background-color: rgba(192, 192, 192, 0.842);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  
  #count {
    animation: glow .7s infinite alternate;
}

@keyframes glow {
    to {
        text-shadow: 0 0 12px rgb(255, 166, 0);
    }
}
  .count {
    height: 90px;
    width: 90px;
    background-size: cover;
    background-position: center;
    position: absolute;
    background-color:#87B0F9;
    top: -35px;
    left: -35px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  h3{
    font-family: "Sriracha", arial, sans-serif;
    text-align: center;
    color: white;
    margin-top: 33%;
  }
  h1 {
    font-family: "Sriracha", arial, sans-serif;
    text-align: center;
    width:100%;
    color: $otherAccent;
  }
  #input {
    width:60%;
    height:100%;
  }
  #inputField{
      margin-left:23%;
      width:70%;
      height:10%;
      margin-top: 8%;
      font-size: 22px;
      font-family: "Sriracha", arial, sans-serif;
  }
  #dollar{
      color:rgb(0, 194, 0);
      font-size:2.2vh;
      margin-right:4px;
      padding:0px;
      line-height: 100%;
  }

  #bigbutton {
    width: 87%;
    margin-left: 3%;
    margin-top: 15px;
    height: 80px;
    font-size: 2rem;
    color: $background;
    display: inline-block;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: linear-gradient(
      45deg,
      $accent,
      $otherAccent,
      $otherAccent,
      $accent
    );
    background-size: 300% 300%;
    outline: none;
    transition: all 200ms ease-in-out;
    &:hover {
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
      transform: translateY(2px);
      -webkit-animation: gradientBG 1.5s ease-in-out forwards;
      animation: gradientBG 1.5s ease-in-out forwards;
      cursor: pointer;
    }
    &:active {
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
      transform: translateY(4px);
    }
  }

@-webkit-keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
  // 100% {
  //   background-position: 0% 50%;
  // }
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
  // 100% {
  //   background-position: 0% 50%;
  // }
}
}
#finalA{
  width: 100%;
  max-width:300px;
  border-radius: 5px;
  margin-left:30%;
  margin-top:10%;
  height:100%;
  background-color: rgba(128, 128, 128, 0.726);
  padding: 5%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  
}
#answer{
  margin-left: 14%;
  margin-top: 16%;
}

#cardContainer{
  width:50%;
  margin-left:25%;
  margin-top: 2%;
}

.card-title{ 
color: #000000;
font-size: 1.5vw;
line-height: 1.5vw;
text-shadow: 0 0 3vw #00c53b;
}
.card-title {
animation: card-title 1.2s ease-in-out;
-moz-animation: card-title 1.2s ease-in-out;
-webkit-animation: card-title 1.2s ease-in-out;
}
@keyframes card-title {
0%,
100% {
  text-shadow: 0 0 1vw #00c53b, 0 0 1vw #00c53b;
}
50% {
  text-shadow: 0 0 .5vw #0f800b, 0 0 1.5vw #2cbb00;
}
}

#endCards{
  width: 100%;
  margin: 3%;
  background-color: rgba(233, 233, 233, 0.815);
}

.progress {
  bottom:0;
  left:0;
  position:absolute;
  top:0;
}
.card-text{
  font-size: 1.2vw;
}


.progress:before {
  animation:slideIn 2s ease-out;
  background-color:rgb(0, 196, 26);
  bottom:0;
  left:0;
  content:"";
  position:absolute;
  top:0;
  width:100%;
}

.content {
  position:relative;
}

.percentage {
  text-align:right;
}

@keyframes slideIn {
  0% {
    background-color:rgb(0, 219, 48);
    width:0;
  }
  100% {
    background-color:rgb(0, 196, 26);
    width:100%;
  }
}

.outcome, .descript{
  display: inline-block;
}
.outcome{
  color:rgb(0, 206, 62);
}