
  <div id="container">
    <!-- News jumbotron -->
    <div id="jumbo" class="jumbotron text-center hoverable p-4">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-4 offset-md-1 mx-3 my-3">
          <!-- Featured image -->
          <div class="view overlay">
            <img src="../../assets/img/house.png" class="img-fluid"
              alt="Sample image for first version of blog listing" />
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-7 text-md-left ml-3 mt-3">
          <h4 class="h4 mb-4">Welcome to the Home Mortgage Estimator!</h4>

          <p id="par" class="font-weight-normal">
              Here at Home Mortgage Estimator we make the proccess of finding
            the perfect home easier. This is intended for first time home buyers.
            You will be asked a series of questions regarding your monthly
            expenses and your monthly income. Don't worry, no data is stored
            or viewed by anyone but you. If you are planning on buying a home
            with a spouse, then repsond to each question with you and your
            spouses responses added together.
          </p>

          <button class="button btn-success" id="fadeButton">
            Let's get started!
          </button>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
        <form id="form" *ngIf="count!=18" #checkForm="ngForm" (ngSubmit)="getClicked(checkForm); counting()" class="login-container">
          <div class="count" id="_count">
            <h3 id="count">{{ count + 1 }}/18</h3>
          </div>

          <label>
            <div id="formcontainer">
            <h1 class="description">{{ cards[count].description }}</h1>
          </div>
          </label>
          <label id="inputField"><i id="dollar" class="fas fa-dollar-sign"></i><i id="dollar"
              class="fas fa-dollar-sign"></i><i id="dollar" class="fas fa-dollar-sign"></i><input type="number"
              name="numbersInForm[cards[count].description]" [(ngModel)]="numbersInForm[cards[count].description]" id="input"
              class="form-input" placeholder="Ex: $100 or $0 if none" /></label>
          <button id="back" type="button" (click)="back()"><i class="fas fa-hand-point-left"></i>
          </button>
          <button id="bigbutton" type="button" type="submit">
            Next
          </button>
          
        </form>
    <div id="cardContainer" *ngIf="count==18 && finalAnswer>0">

      <div class="card border-light mb-3" id="endCards">
        <div class="card-header">Your results are in!</div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Monthly Income(${{income}}) - Monthly Expenses(${{expenses}}) = ${{calculate}} <i class="fas fa-hand-point-left"></i>&ensp;This is your *Net Income.</li>
            <li class="list-group-item">Your maximum downpayment: ${{downPayment}}</li>
            <li class="list-group-item">Interest rate found: 3%</li>
            <li class="list-group-item">Below are various home prices you could afford from highest to lowest.</li>
          </ul>
        </div>
      </div>
      <div class="card border-light mb-3" id="endCards">
        <div class="progress" style="width:100%"></div>
        <div class="card-body">
          <h5 class="card-title">${{ commas }}</h5>
          <p class="card-text">This is what you could afford if you were to spend 100% of your *Net Income on a monthly house payment. 
            This would leave you with <span style="color:red; font-weight: bold; font-size:22px;">$0</span> leftover.
          </p>
          <hr>
          <p class="card-text" id="body"><i class="far fa-star"></i>Your downpayment percentage for this house is {{ dpPercent }}%.<span *ngIf="dpPercent< 20"> A downpayment less than 20% will require you to pay PMI(private mortgage insurance) that will cost you <i id="dollar" class="fas fa-dollar-sign"></i>{{ pmiMonthly }} per month.
          Consider saving up more money to reduce your monthly payment or go for a cheaper house for now!</span></p>
            <hr>
            <p> <i class="fas fa-exclamation-circle"></i>This is including an estimated
              Property Tax and Home insurance based on home value. </p>
        </div>
      
      </div>

      <div class="card border-light mb-3" id="endCards">
        <div class="progress" style="width:50%"></div>
        <div class="card-body">
          <h5 class="card-title">${{ fiftyCommas }}</h5>
          <p class="card-text">This is what you could afford if you were to spend 50% of your *Net Income on a monthly house payment. 
            This would leave you with <span style="color:#d9ff00; font-weight: bold; font-size:22px;">${{ fiftyLeft }}</span> leftover.
          </p>
          <hr>
          <p class="card-text" id="body"><i class="far fa-star"></i>Your downpayment percentage for this house is {{ dpPercent5 }}%.<span *ngIf="dpPercent5< 20"> A downpayment less than 20% will require you to pay PMI(private mortgage insurance) that will cost you <i id="dollar" class="fas fa-dollar-sign"></i>{{ pmiMonthly5 }} per month.
          Consider saving up more money to reduce your monthly payment or go for a cheaper house for now!</span></p>
            <hr>
            <p> <i class="fas fa-exclamation-circle"></i>This is including an estimated
              Property Tax and Home insurance based on home value. </p>
        </div>
      </div>

      <div class="card border-light mb-3" id="endCards">
        <div class="progress" style="width:30%"></div>
        <div class="card-body">
          <h5 class="card-title">${{ thirtyCommas }}</h5>
          <p class="card-text">This is what you could afford if you were to spend 30% of your *Net Income on a monthly house payment. 
            This would leave you with <span style="color:green; font-weight: bold; font-size:22px;">${{ thirtyLeft }}</span>  leftover.
             
          </p>
          <hr>
          <p class="card-text" id="body"><i class="far fa-star"></i>Your downpayment percentage for this house is {{ dpPercent3 }}%.<span *ngIf="dpPercent3< 20"> A downpayment less than 20% will require you to pay PMI(private mortgage insurance) that will cost you <i id="dollar" class="fas fa-dollar-sign"></i>{{ pmiMonthly3 }} per month.
          Consider saving up more money to reduce your monthly payment or go for a cheaper house for now!</span></p> 
            <hr>
            <p> <i class="fas fa-exclamation-circle"></i>This is including an estimated
              Property Tax and Home insurance based on home value. </p>
        </div>
      </div>
    </div>
    <div id="nohouse" *ngIf="count==18 && finalAnswer<0" class="card border-light mb-3" style="max-width: 18rem;">
      <div class="card-header">Uh-Oh!</div>
      <div class="card-body">
        <h5 class="card-title">It looks like you cant afford a house quite yet.</h5>
        <p class="card-text">Keep saving and check back later!</p>
      </div>
      </div>
  </div>
